@import '../../scss_tools/style_variable';
.navbar{
  width:100%;
  height:42px;
  background-color: $gfg-white;
  padding: 0;
}
.navbar_l_block{
  margin: 0;
  list-style: none;
  padding: 0;
  li {
    float: left;
    height: #{$header-height}px;
  }
  &--product_logo{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    display: block;
    background-color: $gfg-back;
    width:124px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: #{$header-height}px;
    color: $gfg-white;
    &:hover{
      color: $gfg-white;
      text-decoration: none;
    }
  }
  &--venture_logo{
    padding-left: 90px;
    padding-right: 90px;
    border-right: 1px #{$gfg-gray} solid;
    // line-height: #{$header-height}px;

  }
}
